.author {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	box-shadow: 0 0 0 2px var(--color-highlight);
	margin-right: 2rem;
	overflow: hidden;

	&--sm {
		width: 2.5rem;
		height: 2.5rem;
		margin-right: 1rem;
		box-shadow: 0 0 0 1px var(--color-highlight);
	}

	&--lg {
		width: 5rem;
		height: 5rem;
	}
}
