.loader {
	$hue1: 330;
	$hue2: 340;
	$hue3: 350;
	$hue4: 360;
	$sat: 98%;
	$lightness: 90%;

	display: block;
	height: 2.5rem;
	width: 2.5rem;

	&__circle--1 {
		fill: hsla($hue1, $sat, $lightness, 0.2);
		animation: rotateCircle1 1.5s ease-out infinite;
	}

	&__circle--2 {
		fill: hsla($hue2, $sat, $lightness, 0.2);
		animation: rotateCircle2 1.5s ease-out infinite;
	}

	&__circle--3 {
		fill: hsla($hue3, $sat, $lightness, 0.2);
		animation: rotateCircle3 1.5s ease-out infinite;
	}

	&__circle--4 {
		fill: hsla($hue4, $sat, $lightness, 0.2);
		animation: rotateCircle4 1.5s ease-out infinite;
	}

	@keyframes rotateCircle1 {
		0%,
		25% {
			transform: rotate(0deg) translateX(10px) rotate(0deg);
			fill: hsla($hue1, $sat * 0, $lightness, 0.2);
		}
		50% {
			fill: hsla($hue1, $sat, $lightness, 1);
		}
		75%,
		100% {
			transform: rotate(360deg) translateX(10px) rotate(-360deg);
			fill: hsla($hue1, $sat * 0, $lightness, 0.2);
		}
	}

	@keyframes rotateCircle2 {
		0%,
		25% {
			transform: rotate(0deg) translateX(-10px) rotate(0deg);
			fill: hsla($hue2, $sat * 0, $lightness, 0.2);
		}
		50% {
			fill: hsla($hue2, $sat, $lightness, 1);
		}
		75%,
		100% {
			transform: rotate(360deg) translateX(-10px) rotate(-360deg);
			fill: hsla($hue2, $sat * 0, $lightness, 0.2);
		}
	}

	@keyframes rotateCircle3 {
		0%,
		25% {
			transform: rotate(0deg) translateY(10px) rotate(0deg);
			fill: hsla($hue3, $sat * 0, $lightness, 0.2);
		}
		50% {
			fill: hsla($hue3, $sat, $lightness, 1);
		}
		75%,
		100% {
			transform: rotate(360deg) translateY(10px) rotate(-360deg);
			fill: hsla($hue3, $sat * 0, $lightness, 0.2);
		}
	}

	@keyframes rotateCircle4 {
		0%,
		25% {
			transform: rotate(0deg) translateY(-10px) rotate(0deg);
			fill: hsla($hue4, $sat * 0, $lightness, 0.2);
		}
		50% {
			fill: hsla($hue4, $sat, $lightness, 1);
		}
		75%,
		100% {
			transform: rotate(360deg) translateY(-10px) rotate(-360deg);
			fill: hsla($hue4, $sat * 0, $lightness, 0.2);
		}
	}
}
