.post-header {
	position: relative;
	padding: 25rem 0 15rem;

	@include media("<=sm") {
		padding: 20rem 0 10rem;
	}

	&__cover {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: radial-gradient(
				ellipse,
				rgba($color-background-alt, 0.85) 0%,
				rgba($color-background, 0.95) 35%,
				rgba($color-background, 1) 75%
			);
		}

		& > div {
			height: 100%;

			img {
				object-fit: cover;
			}
		}
	}

	&__share {
		display: flex;
		align-items: center;

		svg {
			margin-right: 0.5rem;
		}
	}

	&__author {
		img {
			width: 3.5rem;
			height: 3.5rem;
			border-radius: 50%;
			box-shadow: 0 0 0 2px var(--color-highlight);
			margin-right: 2rem;
		}
	}

	&__meta {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;

		@include media("<=sm") {
			flex-direction: column;
			align-items: center;

			& > *:not(:last-of-type) {
				margin-bottom: 1rem;
			}
		}

		.author {
			@include media("<=sm") {
				margin-right: 0;
			}
		}

		& > div:last-of-type {
			display: flex;
			align-items: center;
			margin-left: 0.5rem;

			& > span {
				@include media("<=sm") {
					display: none;
				}
			}

			svg {
				height: 2rem;
				width: 2rem;
				margin: 0 0.25rem 0 0.5rem;
			}
		}
	}

	&__content {
		@include container();
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 1;
		min-height: 25rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h1 {
			width: 100%;
			max-width: 850px;
			text-align: center;
		}
	}
}
