.post-header {
	position: relative;
	padding: 25rem 0 15rem;

	@include media("<=sm") {
		padding: 15rem 0 5rem;
	}

	&__cover {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: radial-gradient(
				ellipse,
				rgba($color-background-alt, 0.85) 0%,
				rgba($color-background, 0.95) 35%,
				rgba($color-background, 1) 75%
			);
		}

		& > div {
			height: 100%;

			img {
				object-fit: cover;
			}
		}
	}

	&__meta {
		display: flex;
		align-items: center;
	}

	&__content {
		@include container();
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 1;
		min-height: 25rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h1 {
			width: 100%;
			max-width: 850px;
			text-align: center;
		}
	}

	&__author {
		img {
			width: 3.5rem;
			height: 3.5rem;
			border-radius: 50%;
			box-shadow: 0 0 0 2px var(--color-highlight);
			margin-right: 2rem;
		}
	}
}
