.project-card {
	padding: 2rem;
	display: flex;
	border: 1px solid var(--color-text);
	box-shadow: 4px 4px 0px 0px var(--color-highlight);
	background-color: var(--color-background);

	&:hover {
		.project-card__image img {
			transform: translateY(-50%);
		}
	}

	&__info {
		flex: 0.75;
		display: flex;
		flex-direction: column;
		margin-right: 1rem;

		p {
			a {
				@include link();
				font-weight: 600;
				font-style: italic;
			}
		}
	}

	&__title {
		display: flex;
		align-items: center;

		svg {
			height: 1.5rem;
			width: 1.5rem;
			margin-left: 0.5rem;
		}
	}

	&__actions {
		margin-top: auto;
	}

	&__tech {
		display: flex;
		flex-wrap: wrap;
		margin: 2rem 0;

		& > a {
			width: 4rem;
			height: 4rem;
			display: flex;
			background-color: var(--color-text);
			box-shadow: 0 0 0 2px var(--color-highlight);
			transform: scale(1) translate3d(0, 0, 0);
			backface-visibility: hidden;
			transition: var(--transition);
			margin-bottom: 1rem;

			&:hover {
				transform: scale(1.05) translate3d(0, 0, 0);
			}

			&:not(:last-child) {
				margin-right: 1rem;
			}

			& > svg {
				margin: auto;
				width: 3rem;
			}
		}
	}

	&__image {
		flex: 1;
		position: relative;
		overflow-y: hidden;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			transition: 5.5s 0.1s ease;
			object-fit: cover;
		}

		&::after {
			content: "";
			display: block;
			padding-bottom: 200%;
		}
	}
}
