a {
	color: var(--color-text);
	font: inherit;
	text-decoration: none;
	outline: 2px solid transparent;
	transition: var(--transition-standard);

	&:visited {
		color: var(--color-text);
	}

	&:focus {
		outline: 2px solid var(--color-highlight-alt);
	}
}

@mixin link() {
	position: relative;
	width: max-content;

	&::after {
		content: "";
		position: absolute;
		bottom: -3px;
		height: 1.5px;
		left: 0;
		width: 0;
		background-color: var(--color-highlight);
		transition: var(--transition-standard);
	}

	&:hover {
		&::after {
			width: 100%;
		}
	}
}
