// Media
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1024px;

// Colors
$color-background: #07000b;
$color-background-alt: #11001c;
$color-highlight: #a30292;
$color-highlight-alt: #f9f9f9;
$color-text: #fffafe;
$color-text-alt: #fbf6ff;

// CSS Props
:root {
	// Colors
	--color-background: #07000b;
	--color-background-alt: #11001c;
	--color-highlight: #a30292;
	--color-highlight-alt: #6f02b0;
	--color-text: #fffafe;
	--color-text-alt: #fbf6ff;

	// Transition
	--transition: 0.2s ease-out;
}
