.page-about {
	@include section();
	padding-top: 20rem;

	&__timeline {
		@include container();
	}

	&__timeline-tech {
		margin-top: 2rem;
		display: flex;
		flex-wrap: wrap;

		& > span {
			&:not(:last-child) {
				margin-right: 1rem;
			}

			margin-bottom: 1rem;
			display: block;
			background: var(--color-text);
			padding: 0.5rem;
			border-radius: 5px;
			display: flex;
			box-shadow: 0 0 0 2px var(--color-highlight);

			& > svg {
				margin: auto;
				width: 3rem;
				height: 3rem;
			}
		}
	}
}
