.page-snippets-listing {
	@include section();
	padding-top: 20rem;
	padding-bottom: 20rem;

	&__header {
		@include container();
		text-align: center;
		margin-bottom: 5rem;

		@include media("<=sm") {
			margin-bottom: 1rem;
		}
	}

	&__inner {
		@include container();
		display: grid;
		grid-template-columns: 1.75fr 1fr;
		gap: 5rem;

		@include media("<=sm") {
			grid-template-columns: 1fr;
		}
	}

	&__snippets {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;

		@include media("<=sm") {
			grid-template-columns: 1fr;
		}
	}

	&__sidebar {
		@include media("<=sm") {
			grid-row: 1 / 2;
			text-align: center;
		}
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;

		@include media("<=sm") {
			justify-content: center;
		}

		a {
			@include link();
			font-weight: 600;
			font-style: italic;
			padding: 0.25rem 0.5rem;
			display: flex;
			align-items: center;

			svg {
				height: 2rem;
				width: 2rem;
				margin-right: 0.5rem;
			}
		}
	}
}
