@import "./config/normalize";

// https://coolors.co/f0d7ff-8d017f-35012c-290025-11001c

:root {
	--color-background: #11001c;
	--color-background-alt: #290025;
	--color-hightlight: #a30292;
	--color-hightlight-alt: #6f02b0;
	--color-text: #fffafe;
	--color-text-alt: #fbf6ff;
}

body {
	margin: 0;
	color: var(--color-text);
	background-color: var(--color-background);
	font-family: "Lato", sans-serif;
}

@import "./components/code-banner";
