.section-introduction {
	margin-top: -3rem;
	padding-bottom: 5rem;
	text-align: center;
	position: relative;
	z-index: 1;

	background: var(--color-background) url("/bg-pattern.svg") no-repeat center center/cover;

	&--no-bg {
		background: transparent;
	}

	&__header {
		@include container();

		h2 {
			font-style: italic;
		}
	}

	&__inner {
		@include container();

		p {
			width: 100%;
			max-width: 65rem;
			margin-left: auto;
			margin-right: auto;
			font-size: 2rem;
			margin-bottom: 2rem;

			a {
				@include link();
				white-space: nowrap;
				overflow: hidden;
				font-style: italic;
				font-weight: 600;
			}
		}
	}

	&__embeded-links {
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			padding: 0.25rem 1rem;
			svg {
				height: 3rem;
				width: 3rem;
				transition: var(--transition);
			}

			&:hover {
				svg {
					color: var(--color-highlight);
				}
			}
		}
	}
}
